header{
    background-color: $color-primario;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

header h1{background-color:  $color-primario;
    padding: 20px;
}
header nav ul{
    list-style: none;
    background-color:  $color-primario;
}
header nav ul li a{
    text-decoration: none;
    color: $color-terciario;
}
header h1{
    font-size: 60px;
    font: weight 700; ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}
header nav ul li{
    display: inline-block;
    margin: 10px 30px 10px 30px;}