*{
    margin: 0;
    padding: 0;
}
h1 { color:
    rgb(126, 1, 244);
    background-color: rgb(54, 54, 147);
}
.boton {
    background-color: black;
    color: white;
}

//! Colores

$color-primario:rgb(54, 54, 147);
$color-secundario:rgb(126, 1, 244);
$color-terciario: rgb(100, 214, 237);
$color-cuarto: rgb(28, 28, 98);
$color-quinto:rgb(109, 109, 142);